<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/ogibero/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/ogibero">Hasiera</a></li>
			<li><a href="/ogibero/errezetak">Errezetak</a></li>
	        	<li><a href="/ogibero/faq">FAQ</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>

			<footer>
			  <a rel="license"
			  href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative
			  Commons License" style="border-width:0"
			  src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"
			  /></a>
			</footer>

	</body>
</html>
